.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Assistant';
    color: #c0c0c0;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}