ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
.text {
  color: black !important;
}
ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  background-color: blanchedalmond;
  color: black;
}
