<mat-toolbar style="color: white;">
  <span>
    <a routerLink="/home" style="color: black;">Urban Exchange</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button class="text" routerLink="/product" routerLinkActive="mat-accent">Sell</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button class="text" routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button class="text" routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button class="text" mat-button (click)="onLogout()">Logout</button>
      <p *ngIf="currentUser">Hello {{currentUser.username}} </p>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button class="text" routerLink="/profile/123" routerLinkActive="mat-accent">profile</a>
    </li>
  </ul>
</mat-toolbar>
