ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.u-ex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.row {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;

	.bi {
		font-size: 1.5rem;
	}

	transition: transform 0.1s;
}

a.text:not(.profile-icon):hover,
button.text:hover {
	transform: scale(1.15);
	background-color: #ff8433;
}

a.text:not(.profile-icon):active,
button.text:active {
	background-color: #ff8433;
}

.profile-image:hover,
.profile-image:active {
	transform: scale(1.15);
}

.options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

// color opt: #1f2441
.text {
	color: white !important;
	font-family: 'Assistant';
	font-weight: 900;
}

ul {
	display: flex;
}

.spacer {
	flex: 1 1 auto;
}

.container {
	background-color: blanchedalmond;
	color: black;
}

.header-toolbar {
	color: white;
	position: relative;
	background: black;
	z-index: 999;
	height: 5rem;

	background: rgb(167, 36, 255) !important;
	background: linear-gradient(90deg, rgba(167, 36, 255, 1) 0%, rgba(255, 88, 88, 1) 50%, rgba(255, 181, 78, 1) 100%) !important;
}

.loader-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.5;
	z-index: 999;
}

.search {
	position: relative;
}

.remove-shadow {
	box-shadow: none;
}

.messages-icon {
	color: white;
	transform: scale(1.5);
}

.unread-message-count {
	position: absolute;
	top: -1.5rem;
	border: 1px solid red;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -0.75rem;
	border-radius: 50%;
	background-color: red;
}