ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.u-ex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.row {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;

	.bi {
		font-size: 1.5rem;
	}
}

.options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

// color opt: #1f2441
.text {
	color: white !important;
	font-family: 'Assistant';
	font-weight: 900;
}

ul {
	display: flex;
}

.spacer {
	flex: 1 1 auto;
}

.container {
	background-color: blanchedalmond;
	color: black;
}

.header-toolbar {
	box-shadow: 0rem 0.05rem 0.8rem #e6e6e6;
	;
	position: relative;
	background: black;
	z-index: 999;
	height: 5rem;
}

.loader-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.5;
	z-index: 999;
}

.search {
	position: relative;
}

.remove-shadow {
	box-shadow: none;
}