body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

h1 {
    // text-align: center;
    padding: 5rem 10%;
    padding-bottom: 1rem;
    // color: #3F51B5;
    // color: #6197FF;
    font-family: var(--global-font-family);
}

table {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: rgb(167, 36, 255) !important;
    background: linear-gradient(90deg, rgba(167, 36, 255, 1) 0%, rgba(255, 88, 88, 1) 50%, rgba(255, 181, 78, 1) 100%) !important;
    color: #FFFFFF;
}

th,
td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    font-family: var(--global-font-family);
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #6197ff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #4886fa;
}

button:active {
    background-color: #3077fa;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    margin-right: 10px;
}

.remove-btn {
    background-color: #b62de3;
}

.remove-btn:hover {
    background-color: #a021ca;
}

.remove-btn:active {
    background-color: #9014ba;
}

.view-btn {
    background-color: #ff9e52;
}

.view-btn:hover {
    background-color: #ef8635;
}

.view-btn:active {
    background-color: #e6741c;
}

.wishlist {
    height: calc(100vh - 10px);
}