@mixin curb-lines($numLines) {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: $numLines;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
}

@mixin font-style($style, $fallback) {
    font-family: $style, $fallback;
}

.card-subtitle {
    @include curb-lines(2);
    @include font-style('Assistant', 'Roboto');
    font-size: small;
}

.card-title {
    @include curb-lines(2);
    @include font-style('Assistant', 'Roboto');
    font-size: large;
}

.card-text {
    font-size: medium;
}

.card {
    height: 24rem;
    border: 1px solid #fff;
}

.card:hover {
    box-shadow: 0rem 0.05rem 0.8rem #e6e6e6;
    transform: scale(1.02);
}

.wishlistBtn {
    float: right;
    margin-top: -20%;
    margin-right: -10%;
}