.paginate {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -1rem;
    border-radius: 1.5rem;
}

.product-list {
    margin-bottom: 1rem;
}

.no-products {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--global-font-family);
    font-size: xx-large;
    color: #e6e6e6;
}