.card-body {
    padding: 0.5rem !important;
    height: 2rem;
    font-family: 'Assistant', 'Roboto';
}
.card-title {
    font-size: large;
}
.filter-body {
    height: 1.5rem !important;
}
.form-check-input {
    height: 1rem; width: 1rem;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #ff3f6c;
    border-color: #ff3f6c;
    box-shadow: none;
}
