<div class="card" style="width: inherit; margin-bottom: 1rem; border-radius: 0.5rem !important;">
    <div class="card-body">
      <h2 class="card-title">Filter By</h2>
    </div>
</div>

<div class="card" *ngFor="let filter of productCategories" style="width: inherit; margin-bottom: 1rem; border-radius: 0.5rem !important;">
    <div class="card-body filter-body">
      <!-- <h4 class="card-title">{{ filter }}</h4> -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" style="font-size: large;">
          {{ filter }}
        </label>
      </div>
      </div>

</div>


