.product-form {
    margin: 5rem;
    margin-top: 2.5rem;
    font-family: 'Assistant';
    font-size: large;

    &--title {
        font-size: x-large;
        margin-bottom: 2.5rem;
    }
}

.hashtag {

    width: fit-content;
    padding: 0.5rem;
    padding-top: 0;
    border-radius: 0.5rem;
    background-color: #ffebf0;
    margin: 0.5rem;
}

.hashtag-container {
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 2rem;
}

.submit {
    margin-top: 2rem;
}

.invalid-hashtag {
    color: red;
    font-size: small;
}

.ast {
    font-family: 'Assistant';
    font-size: large;
}

mat-label {
    font-family: 'Assistant';
}

mat-form-field {
    width: 100%;
}

.previews {
    margin-left: 1rem;
}

.preview-title {
    margin-bottom: 1rem;
}

.image-preview {
    height: 15rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;
}

.image-preview:hover {
    box-shadow: 0rem 0.05rem 0.8rem #e6e6e6;
    transform: scale(1.02);
}

.close-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 999;
    cursor: pointer;
}

.remove-icon {
    position: relative;
    top: 0.3rem;
    z-index: 999;
    cursor: pointer;
}

.camera {
    position: relative;
    top: 0.3rem;
}

.broken {
    transform: scale(10);
    color: #e6e6e6;
    position: absolute;
    top: 10rem;
    left: 20rem;
}

.nothing {
    margin-top: 8rem;
    font-size: xx-large;
    position: relative;
    display: flex;
    color: #e6e6e6;
    justify-content: center;
}

.search-recom {
    background-color: white;
    color: black;
    width: 100%;
    margin-top: 0.5rem;
    /* border: 1px solid gray; */
    box-shadow: 0rem 0.05rem 0.8rem #e6e6e6;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.search-result {
    padding: 0.5rem;
    cursor: pointer;
}

.search-result:hover {
    transform: scale(1.02);
    background-color: #ffebf0;
}

.tag-count {
    font-size: smaller;
    font-style: italic;
    color: #9b9595;
}