<div class="container">
  <div class="row">
    <div class="col-6">
    <div class="urban">
      Urban
    </div>
    <div class="exchange">
      Exchange
    </div>
    </div>
    <div class="col-6" style="position: relative;">
      <mat-icon  fontIcon="published_with_changes" class="uex"></mat-icon>
      
    </div>
  </div>
<div class="cardlogin">
<mat-card class="login-card" style="position: relative; top: 20px; ">
  <span style="    position: relative;
  margin: auto;">
    <img src="../../../assets/person.svg" style="height: 50px;"> 
  </span>
  
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field class="form-field">
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br>
    <div class="row">
      <div class="col-12 sign-in">
        <button mat-raised-button class="login-button" color="accent" type="submit" *ngIf="!isLoading">Login</button>
        </div>
      <div  class="btn col-12 sign-in">
        <asl-google-signin-button type='standard' size='large'>  Login with Google</asl-google-signin-button>
      </div>

    </div>

  </form>
</mat-card>
</div>
</div>
