.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: calc(100vh - 100px);
}

.login-span {
  margin-right: auto;
  display: inline-flex;
}

.login-icon {
  position: relative;
  top: 4px;
  padding-left: 2px;

}

.login-title {
  margin-right: auto;
  font-family: 'Assistant';
}

.cardlogin {
  height: calc(100vh - 10px);
  // background: linear-gradient(to right, rgba(206, 132, 255, 1) 0%, rgba(166, 31, 255, 1) 0%, rgba(255, 71, 71, 1) 50%, rgba(255, 171, 52, 1) 100%), linear-gradient(to bottom, rgba(206, 132, 255, 1) 0%, rgba(243, 166, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgb(206, 132, 255) 0%, rgb(224 176 255) 0%, rgb(255 150 150) 50%, rgb(255 228 191) 100%);
}

.loading-spinner {
  /* Your custom styles for the loading spinner container */
  display: block;
  margin: 20px auto;
}

.login-form {
  /* Your custom styles for the login form container */
  /* For example, you can set a background color or border */
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.input-field {
  /* Your custom styles for the input fields */
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  /* Your custom styles for the error messages */
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.login-button {
  /* Your custom styles for the login button */
  width: 80%;
  padding: 10px;
  background-color: #ff3f6c;
  /* Example button color */
  color: #fff;
  /* Example text color */
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  /* Your custom hover styles */
  background-color: #eb2150;
  /* Example hover color */
}

.login-card {
  // width: 25%;
  width: fit-content;
  margin: auto;
  padding: 2%;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  width: -webkit-fill-available;
  display: flex;
}

.login-button {
  width: 75%;
  font-family: 'Assistant';
  height: 3rem;
  margin-bottom: 1rem;
  font-size: large;
}

.container {
  // background-image: url('../../../assets/backgroud-home.svg');
  background-size: 100% 108%;
  height: calc(100vh - 130px);
  left: 0;
  position: absolute;
  // background-color: #172733;
}

.mat-mdc-card {
  border: none !important;
  box-shadow: none !important;
}

.urban {
  margin-top: 10rem;
  font-size: 700%;
  position: relative;
  /* display: flex; */
  color: #e6e6e6;
}

.exchange {
  margin-top: 5rem;
  font-size: 800%;
  position: relative;
  z-index: 999;
}

.btn {
  transform: scale(1.2)
}

.sign-in {
  display: flex;
  justify-content: center;
}

.uex {

  transform: scale(20);
  color: #e6e6e6;
  position: absolute;
  top: 14rem;
  left: -3rem;
}