<div mat-dialog-title>Chat!</div>
<div mat-dialog-content class="chat-window">
    <div class="messages">
      <div *ngFor="let message of messages">


      <div class="msg-container" [ngClass]="getAlignment(message.sender)">
      <div class="msg-bubble" [ngClass]="getAlignmentBubble(message.sender)" >

        <div class="msg-text">
           {{message.messageText}}
        </div>
      </div>
      </div>

    </div>
    
    <div #chatEnd class="chat-end"></div>
  </div>
  </div>
  <div mat-dialog-actions>
    <div class="msger-inputarea">

      <input [(ngModel)]="newMessage" placeholder="Type a message" class="msger-input col-11" (keydown.enter)="sendMessage()">
      <button (click)="sendMessage()" class="msger-send-btn col-1" [disabled]="newMessage.trim().length == 0">Send</button>
    </div>
  </div>