<div class="chat-window">
    <div class="messages">
      <div *ngFor="let message of messages">


      <div class="msg-container" [ngClass]="getAlignment(message.chatPartner)">
      <div class="msg-bubble" [ngClass]="getAlignmentBubble(message.chatPartner)" >
        <div class="msg-info">
          <div class="msg-info-name">{{message.chatPartner}}</div>
        </div>

        <div class="msg-text">
           {{message.text}}
        </div>
      </div>
      </div>

    </div>
    <!-- <div class="input-area">
    
    </div> -->
    <div class="msger-inputarea">

      <input [(ngModel)]="newMessage" placeholder="Type a message" class="msger-input col-11" >
      <button (click)="sendMessage()" class="msger-send-btn col-1">Send</button>
    </div>
  </div>