$bg-color: white;
.content {
    height: calc(100vh - 100px);
}
.row {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 3rem;
}
.filter {
    background-color: $bg-color;
    padding: 1rem;
    border-right: 1px solid #ddd;
    width: 14%;
    // margin-left: 5rem;
} 
.space {
    margin-left: -7rem;
}
.product-thumbnails {
    background-color: $bg-color;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
}