$bg-color: #f5f5f5;
.content {
    height: calc(100vh - 100px);
}
.row {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 3rem;
}
.filter {
    background-color: $bg-color;
    border-radius: 1.5rem;
    padding: 1rem;
    // margin-left: 5rem;
} 
.space {
    margin-left: -5rem;
}
.product-thumbnails {
    background-color: $bg-color;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
}